# Configureation

In [187]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(font_scale=1.25,rc={"lines.linewidth": 2})
sns.set_style("white")

In [171]:
save_path = './case_studies/berkeley/'
tmp_path = '/tmp/tmp.t97Pt7Cago/'
save_interval = 100

config = {'NETWORK_PATH':tmp_path + 'tests/scenarios/berkeley/',
'OD_PATH' :tmp_path + 'tests/scenarios/berkeley/od.csv',
'START':'0',
'END':'1200',
'SHOW_BENCHMARKS':'false',
'SAVE_PATH':save_path,
'SAVE_INTERVAL':str(save_interval)
}

In [172]:
def write_config_file(path, config):
    file_path = path + 'command_line_options.ini'
    with open(file_path, 'w') as f:
        f.write('[General]\n')
    
    
    with open(file_path, 'a') as the_file:
        for k,v in config.items():
            line = k + '=' + v +'\n'
            the_file.write(line)
    print ('write to ' + file_path)

In [173]:
write_config_file('./',config)

write to ./command_line_options.ini

# Running

In [212]:
!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 814
# of edges: 822
# of vertices: 238
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 238
Setting CH edge vector of size 822
Range graph removed 822 edges of 1644
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80% . 90% . 100%
 100% Warning: Agent 1 has no route!
[TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 2
EdgesData size = 1082
LaneMap size = 2215936
Intersections size = 237
GPU memory usage: used = 505, free = 10511 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 2
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.333333 with 2person...
>>Simulation Ended

## Results

In [204]:
def read_agent_file(save_path,time):
    agent_file = save_path+'agents_data_'+str(time)+'.csv'
    df = pd.read_csv(agent_file)
    return df

def read_edge_file(save_path,time):
    edge_file = save_path+'edge_data_'+str(time)+'.csv'
    df = pd.read_csv(edge_file)
    return df
    
def get_mean_speed():
    people_df = read_people_file(config['SAVE_PATH'])
    return people_df['avg_v(m/s)'].mean()
   

def mile2ms(mile):
    return 1.60934*mile*1000/3600

In [205]:
# at time 100
agent_df = read_agent_file(config['SAVE_PATH'],100)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,190,49,0,1,816.384,100.5,8.06561,0,0,0
1,1,190,278,0,2,0.000,0.0,NaN,0,0,0

In [206]:
# at time 200
agent_df = read_agent_file(config['SAVE_PATH'],200)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,190,49,0,1,1632.89,202.5,8.01003,0,0,0
1,1,190,278,0,2,0.00,0.0,NaN,0,0,0

In [210]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,190,49,0,2,2212.19,279,7.86887,0,0,0
1,1,190,278,0,2,0.00,0,NaN,0,0,0

In [207]:
# at time 100
edge_df = read_edge_file(config['SAVE_PATH'],100)
edge_df[edge_df['upstream_count']>0]

     eid    u    v  upstream_count  downstream_count  average_travel_time(s)
637   13  190  209               1                 1                    51.5
715   19  209  211               1                 1                    43.5
722   14  211  170               1                 0                    -1.0

In [208]:
# at time 200
edge_df = read_edge_file(config['SAVE_PATH'],200)
edge_df[edge_df['upstream_count']>0]

     eid    u    v  upstream_count  downstream_count  average_travel_time(s)
559    7  169  168               1                 0                    -1.0
563    2  170  169               1                 1                    52.5
637   13  190  209               1                 1                    51.5
715   19  209  211               1                 1                    43.5
722   14  211  170               1                 1                    39.0

In [211]:
# at time 200
edge_df = read_edge_file(config['SAVE_PATH'],300)
edge_df[edge_df['upstream_count']>0]

     eid    u    v  upstream_count  downstream_count  average_travel_time(s)
149  231   48   49               1                 1                    24.5
550   98  168   48               1                 1                    28.0
559    7  169  168               1                 1                    40.0
563    2  170  169               1                 1                    52.5
637   13  190  209               1                 1                    51.5
715   19  209  211               1                 1                    43.5
722   14  211  170               1                 1                    39.0