In [1]:
import pandas as pd
import numpy as np

In [2]:
path = './day_time_od.csv'
data = pd.read_csv(path)
data.head()

   origin_node_id  destin_node_id origin_osmid destin_osmid
0             161             237    100526670      vn_sink
1             161             237    100526670      vn_sink
2             161             237    100526670      vn_sink
3             161             237    100526670      vn_sink
4             161             237    100526670      vn_sink

In [3]:
data['origin'] = data['origin_node_id']
data['destination'] = data['destin_node_id']

In [14]:
data['dep_time'] = data.groupby(by = ['origin_node_id', 'destin_node_id'],sort=False).cumcount()

In [15]:
data['dep_time'] = data['dep_time'].apply(lambda x: x*3)

In [17]:
data.to_csv('./od.csv', index = False)